body {
  font-family: 'Open Sans', sans-serif;
}

.schedule{
  width: 98%;
}

textarea{
  border: none;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 10px;
}

#jumbotron {
  border-radius: 0;
  border-bottom: 10px solid black;
  margin-bottom: 0;
}

.input{
  white-space: pre-wrap;
}

.row {
  text-align: center;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  padding: 10px;
  background-color: #ffffff;
  border-top: 1px dashed #000000;
}

.past {
  background-color: lightgray;
}

.present {
  background-color: lightcoral;
}

.future {
  background-color: lightgreen;
}

.saveBtn {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}